<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<h1>UZUPELNIJCIE FORMA BO SIE WYWALI</h1>
<form action="#" data-th-action="@{/hello}" method="post">
    <div><label> Id : <input type="number" name="id"/> </label></div>
    <div><label> First Name : <input type="text" name="firstName"/> </label></div>
    <div><label> Last Name : <input type="text" name="lastName"/> </label></div>
    <button type="submit" name="button" th:value="addStudent" th:text = "addStudent"></button>
    <button type="submit" name="button" th:value="removeStudent" th:text = "removeStudent"></button>
    <button type="submit" name="button" th:value="updateStudent" th:text = "updateStudent"></button>
    <button type="submit" name="button" th:value="showStudent" th:text = "showStudent"></button>
</form>
<th>Operation result:</th>
<div th:if="${success != null}" th:text="${success}"></div>
<div th:if="${result != null}" th:text="${result.toString()}">Result displayed here</div>
<div th:if="${save != null}" th:text="${save.toString()}"></div>
</body>
</html>